* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
        content: "";
        display: table;
        clear: both;
}


body{
  margin:0;
  padding: 0;
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  color: #666;
  background: #fff;
}
ul,ol{
  list-style: none;
}